{% for taf in tafs %}
    * {{ taf.taf_nom}} <br>
{% endfor %}
{% for etudiant_nom in etudiants_nom %}
    .. {{ etudiant_nom.etu_nom }}
    {{ etudiant_nom.etu_prenom }} <br>
{% endfor %}

<form action="test" method="post">
    <label>Ajout d'une promotion</label>
    <input type="number" name="annee" id="annee">
    <input type="submit" value="Ajouter">
</form>