{% extends "view_layout.html.jinja2" %}
{% set title = "Template Enseignants" %}
{% set active_page = "view_enseignants" %}

{% block body %}
    <h1> Liste étudiants </h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for enseignant in enseignants %}
                <tr>
                    <th scope="row">{{ enseignant.ens_id }}</th>
                    <td>{{ enseignant.ens_prenom }}</td>
                    <td>{{ enseignant.ens_nom }}</td>
                    <td>{{ enseignant.ens_mail }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}